
#bibbase_header a {
    text-decoration: none;
	/*display: none;*/
}

#bibbase_header a[onclick="groupby('downloads')"] { display: none; }
#bibbase_header a[onclick="groupby('author')"] { display: none; }
#bibbase_header a[onclick="groupby('keyword')"] { display: none; }


#bibbase_header i {
    width: 16px;
    text-align: center;
    margin-right: 5px;
	/*display: none;*/
}

.bibbase_group {
    /* background-color: #D0D0E0; */
    /*background-color: #c8e8f7;
    font-style: italic;
    font-size: 25px;
    text-shadow: 0px 0px 3px #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px;
    padding: 5px 40px 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;*/
	font-family:Georgia;
	float: center;
	margin-bottom:10px;
	border-bottom:5px solid #333;
	padding: 10px 0px;
	
	background-color: #EEE;
	min-width: 680px;
	max-width: 870px;
	line-height:105%;
	font-size:44px;
	font-style: normal;
	font-weight: bold;
}

.bibbase_group_body {
    margin-left: 20px;
	font-size: 20px;
}


img.bibbase_icon {
    width: 20px;
    max-height: 16px;
    vertical-align: text-top;
    

    filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: grayscale(100%); /* Current draft standard */
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%);
    filter: gray; /* IE6+ */
}

img.bibbase_icon:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}



/* span.bibbase_icon_text { */
/*     display: none; */
/* } */

.bibbase_code {
    width: 80%
}

.comment {
    font-size: 20px;
    font-style: italic;
    color: gray;
}

.recommended {
    color: green;
}

/* bootstrap */

.bibbase_msg {
    text-align: center;
    width: 80%;
    margin: auto;
}

#bibbase_embed_modal {
    width: 70%;
    left: 15%;
    margin: 0;
}

.bibbase.well {
    margin: 20px;
	overflow-wrap: break-word;
}

.bibbase.link {
    text-decoration: none;
}

.bibbase_paper_content {
    font-size: 20px;
}

.bibbase_paper_title {
    font-weight: bold;
	font-size: 20px;
}

.bibbase_group span {
   display: none;
}

#group_article div i:after {
  content: " Journal Articles"
}

#group_inproceedings div i:after {
  content: " Conference Publications"
}